---

---

<!doctype html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Astro sample app</title>
  </head>
  <body>
    <h1>Hello, Astro!</h1>
  </body>
</html>

<style>
  h1 {
    color: orange;
  }
</style>
