---
import { ModeToggle } from 'src/components/theme/theme-toggle'
import BaseLayout from 'src/components/layout/base.astro'
---

<BaseLayout title='Astro sample app'>
  <h1 class='text-3xl font-bold underline'>Hello world!</h1>
  <ModeToggle client:load />
</BaseLayout>
